%% Rebar config for Treacherous Talks app

%% Additional library directories to add to the code path
{lib_dirs, ["..", "../../deps"]}.

%% Enable EUnit coverage reporting
{cover_enabled, true}.

{erl_opts, [warnings_as_errors]}.

%% Target directory for the release
{target, "../../rel/web_frontend"}.

%% Where to put any downloaded dependencies
{deps_dir, ["../../deps"]}.

%% Specify dependencies
{deps, [
        datatypes,
        utils,
        controller_app,
        yaws
       ]}.
