%% Rebar config for Treacherous Talks app

%% Additional library directories to add to the code path
{lib_dirs, ["..", "../../deps"]}.

%% Enable EUnit coverage reporting
{cover_enabled, true}.

%% Target directory for the release
{target, "../../rel/cluster_manager"}.

%% Where to put any downloaded dependencies
{deps_dir, ["../../deps"]}.

%% Specify dependencies
{deps, [datatypes,
        system_manager,
        getopt
       ]}.

{escript_incl_apps, [system_manager, getopt]}.
