%% -*- erlang -*-
[{host, "stephan.pcs", [{release, xmpp_frontend, []},
                        {release, web_frontend, []}
                       ]},
 {host, "jd.pcs", [{release, backend,
                    [{db,[{riak,{pb,{"dilshod.pcs",8081}}},
                          {db_workers,50}]}
                    ]}
                  ]},
 {host, "dilshod.pcs", [{release, riak, []}]},
 {host, "tiina.pcs", [{release, backend,
                       [{db,[{riak,{pb,{"andre.pcs",8081}}},
                             {db_workers,50}]}
                       ]}]},
 {host, "andre.pcs", [{release, riak, []}]}
].
