%% Rebar config for Treacherous Talks app

%% Additional library directories to add to the code path
{lib_dirs, ["..", "../../deps"]}.

%% Enable EUnit coverage reporting
{cover_enabled, true}.

{edoc_opts, [{todo, true}]}.

%% Target directory for the release
%%{target, "../../rel/controller_app"}.

%% Where to put any downloaded dependencies
{deps_dir, ["../../deps"]}.

%% Specify dependencies
{deps, [
        datatypes,
        utils,
        gen_moves
       ]}.
