#erlang
*.beam
.eunit
*.dump

#latex
*.aux
*.nav
*.out
*.snm
*.pdf
*.toc

#dependencies
deps/

#releases
ext_rel/web_frontend/rel/web_frontend/
rel/backend/rel/backend/
rel/smtp_frontend/rel/smtp_frontend/
rel/db/rel/db/
system-release/
