#erlang
*.beam
.eunit
*.plt
ebin/
*.dump
*doc/*.html
*doc/*.css
*doc/*.png
*doc/edoc-info
doc/

#latex
*.aux
*.nav
*.out
*.snm
*.pdf
*.toc

# emacs temp files
*~
\#*\#

#eclipse
.project
.settings/

#dependencies
deps/

#releases
system-release/

#integration test artifacts
chromedriver.log
