#erlang
*.beam
.eunit
ebin/
*.dump
*doc/*.html
*doc/*.css
*doc/*.png
*doc/edoc-info
doc/

#latex
*.aux
*.nav
*.out
*.snm
*.pdf
*.toc

# emacs temp files
*~
\#*\#

#eclipse
.project
.settings/

#dependencies
deps/

#releases
ext_rel/web_frontend/rel/web_frontend/
rel/backend/rel/backend/
rel/smtp_frontend/rel/smtp_frontend/
rel/db/rel/db/
system-release/
