%% Rebar config for Treacherous Talks

%% Set all our applications here, order matters
{sub_dirs, ["apps/datatypes",
            "apps/service",
            "apps/utils",
            "apps/db",
            "apps/user_management",
            "apps/message",
            "apps/game",
            "apps/controller_app",
            "apps/db_user",
            "apps/smtp_frontend",
            "apps/system_manager",
            "apps/web_frontend",
            "apps/xmpp_lib",
            "rel/backend",
            "rel/smtp_frontend",
            "rel/system_manager",
            "rel/web_frontend",
            "rel/xmpp_frontend"
           ]}.

%% Set dir where external (downloaded) applications are put
{deps_dir, ["deps"]}.

%% add all external dependencies here
%% do NOT add them in git!
{deps, [
        {riakc, ".*",
         {git, "git://github.com/basho/riak-erlang-client", {branch, "master"}}},
        {iconv, ".*",
         {git, "git://github.com/Vagabond/erlang-iconv.git", {branch, "master"}}},
        {gen_smtp, ".*",
         {git, "git://github.com/Vagabond/gen_smtp.git", {branch, "master"}}},
        {meck, ".*",
         {git, "git://github.com/eproxus/meck.git", {branch, "master"}}},
        {mochiweb, "1.7.1",
         {git, "git://github.com/basho/mochiweb", "5128cb3553724373d6a5"}},
        {protobuffs, "0.6.*",
         {git, "git://github.com/basho/erlang_protobuffs", {tag, "protobuffs-0.6.0"}}},
        {exmpp, ".*",
         {git, "git://github.com/treacheroustalks/exmpp", {branch, "rebar"}}},
        {ejabberd, ".*",
         {git, "git://github.com/treacheroustalks/ejabberd-app", {branch, "ejd_otp_clean"}}},
        {stringprep, ".*",
         {git, "git://github.com/treacheroustalks/stringprep-app", {branch, "ejd_otp_clean"}}}
        % YAWS is a dependency, but we cannot use Rebar for it since it cannot
        % currently be built in the way we want with Rebar.
        %{yaws, ".*",
        %{git, "git://github.com/ahilsend/yaws.git", {branch, "websocket_hy10"}}}
]}.
