{deps_dir, ["deps"]}.

%% add global dependencies (apps, that are needed by more than one app) here
%% do NOT add them in git!
{deps, [
        {riakc, ".*", 
	 {git, "git://github.com/basho/riak-erlang-client", {branch, "master"}}},

        {yaws, ".*",
    {git, "git://github.com/ahilsend/yaws.git", {branch, "yaws_1.89_hy10"}}},

        {nitrogen_core, "2.1.*",
    {git, "git://github.com/nitrogen/nitrogen_core", "HEAD"}},
        {nprocreg, "0.2.*",
    {git, "git://github.com/nitrogen/nprocreg", "HEAD"}},
        {simple_bridge, "1.2.*",
    {git, "git://github.com/nitrogen/simple_bridge", "HEAD"}},
        {sync, "0.1.*",
    {git, "git://github.com/rustyio/sync", "HEAD"}}
       ]}.
