%% -*- mode: erlang; -*-
%% Rebar config for Treacherous Talks

%% Set all our applications here, order matters
{sub_dirs, ["apps/datatypes",
            "apps/service",
            "apps/utils",
            "apps/db",
            "apps/necromancer",
            "apps/user_management",
            "apps/message",
            "apps/game",
            "apps/controller_app",
            "apps/db_user",
            "apps/smtp_frontend",
            "apps/web_frontend",
            "apps/xmpp_lib",
            "apps/system_manager",
            "apps/cluster_manager",
            "rel",
            "ext_test/websocket_client", % for fault tolerance test
            "ext_test/fault_tolerance"
           ]}.

%% Set dir where external (downloaded) applications are put
{deps_dir, ["deps"]}.

%% add all external dependencies here
%% do NOT add them in git!
{deps, [
        {riakc, ".*",
         {git, "git://github.com/basho/riak-erlang-client", "01a2d3770a9ff0bc7cbd13f04728bc450aeb1640"}},
        {iconv, ".*",
         {git, "git://github.com/Vagabond/erlang-iconv.git", "0292a574f5a7fdba561d11f1f8e0c1bc00b86308"}},
        {gen_smtp, ".*",
         {git, "git://github.com/Vagabond/gen_smtp.git", "0558786233ca152064770d3d6848e7ae3745f8a1"}},
        {meck, ".*",
         {git, "git://github.com/eproxus/meck.git", "ba47e40f30b8faa80a42d5afcf23dfdc02b5d020"}},
        {mochiweb, "1.7.1",
         {git, "git://github.com/basho/mochiweb", "5128cb3553724373d6a5"}},
        {protobuffs, "0.6.*",
         {git, "git://github.com/basho/erlang_protobuffs", {tag, "protobuffs-0.6.0"}}},
        {exmpp, ".*",
         {git, "git://github.com/treacheroustalks/exmpp", {branch, "rebar"}}},
        {ejabberd, ".*",
         {git, "git://github.com/treacheroustalks/ejabberd-app", {branch, "ejd_otp_clean"}}},
        {stringprep, ".*",
         {git, "git://github.com/treacheroustalks/stringprep-app", {branch, "ejd_otp_clean"}}},
        {getopt, ".*",
         {git, "git://github.com/jcomellas/getopt", "2981dfe63e0f08b52b6c91b8617ad74afe847828"}},
        {lager, ".*",
         {git, "git://github.com/basho/lager", "5fd47ad38a3bab564c07c4c1142a2fa85010795b"}},
        {yaws, ".*",
         {git, "git://github.com/treacheroustalks/yaws.git", {branch, "websocket_hy10"}}}
]}.
