%% == Core ==

%% Additional library directories to add to the code path
{lib_dirs, ["../../libs", "..", "deps"]}.

%% == Erlang Compiler ==

%% Erlang files to compile before the rest. Rebar automatically compiles
%% parse_transforms and custom behaviours before anything other than the files
%% in this list.
%{erl_first_files, ["mymib1", "mymib2"]}.

%% Erlang compiler options
{erl_opts, [{i, "include"}, %{src_dirs, ["src"]},
            {platform_define,
            "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
            {platform_define, "(linux|freebsd)", 'BACKLOG', 128}]}.

%% Tuple which specifies a pre-compilation script to run, and a filename that
%% exists as a result of the script running.
% {port_pre_script, {"script.sh", "skipfile"}}.

%% String that specifies a script to run during cleanup. Use this to remove
%% files/directories created by port_pre_script.
% {port_cleanup_script, "cleanup.sh"}.

%% == LFE Compiler ==

%% == ErlyDTL Compiler ==

%% == EUnit ==

%% Options for eunit:test()
{eunit_opts, []}.

%% Additional compile options for eunit. erl_opts from above is also used
{eunit_compile_opts, []}.

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enable, false}.

%% == Dialyzer ==

%% Options for running the dialyzer, right now only `plt' is supported
{dialyzer_opts, []}.

%% == Cleanup ==

%% Which files to cleanup
% {clean_files, ["file", "file2"]}.

%% == Reltool ==

%% Target directory for the release
{target, "../../rel/game"}.

%% == OTP Applications ==

%% Binaries to link into the erlang path?
{app_bin, []}.

%% == Dependancies ==

%% Where to put any downloaded depandencies. Default is `deps'
{deps_dir, ["deps"]}.

%% What dependancies we have, depandencies can be of 3 forms, an application
%% name as an atom, eg. mochiweb, a name and a version (from the .app file), or
%% an application name, a version and the SCM details on how to fetch it (SCM
%% type, location and revision). Rebar currently support git, hg, bzr and svn.
 {deps, [
          service,
          datatypes,
          db
         ]}.

%% == Subdirectories ==

%% Subdirectories?
%{sub_dirs, ["rel"]}.
