%% Rebar config for Treacherous Talks app

%% Additional library directories to add to the code path
{lib_dirs, ["..", "../../deps"]}.

%% Enable EUnit coverage reporting
{cover_enabled, true}.

%% Target directory for the release
{target, "../../rel/game"}.

{erl_opts, [warnings_as_errors]}.

%% Where to put any downloaded dependencies
{deps_dir, ["../../deps"]}.

%% Specify dependencies
{deps, [
        db,
        datatypes,
        service,
        message,
        utils
       ]}.
