{mode, {rate, 6}}. % operations per worker per second for 7 users (see below)
% 70 => a user performs 10 operations per second (very likely :P)


{duration, 20}.
{report_interval, 60}.

{concurrent, 40}.

{driver, tt_general}.

{tt_node, 'load_backend@stephan.pcs'}.

{key_generator, {int_to_bin,{uniform_int, 5000000}}}.
{value_generator, {fixed_bin, 10000}}.

% this flow simulates 7 users
% they are registered and logged in during setup
% below: how often each operation happens in relation to the others
{operations, [
                {create_game, 1},   % a user creates a game
                {join_game, 7},     % a user joining an empty game
                {in_game_msg, 49},  % a user sending game msg
                {send_order, 35},   % a user sending game orders
                {search, 7},        % a user searching for "current" games
                {off_game_msg, 10}  % a user sending an off-game msg
             ]}.

{code_paths, ["../../apps/load_test",
              "../../apps/controller_app",
              "../../apps/service",
              "../../apps/datatypes",
              "../../apps/utils",
              "../../apps/gen_moves",
              "../../apps/game"]}.
