{mode, max}.

{duration, 60}.
{report_interval, 60}.

{concurrent, 7}.

{driver, tt_general}.

{tt_node, 'load_backend@stephan.pcs'}.

{key_generator, {int_to_bin,{uniform_int, 5000000}}}.
{value_generator, {fixed_bin, 10000}}.

{operations, [{test, 1}]}.

%% the second element in the list below (e.g., "../../public/bitcask") must point to
%% the relevant directory of a bitcask installation
{code_paths, ["../../apps/load_test",
              "../../apps/controller_app",
              "../../apps/service",
              "../../apps/datatypes",
              "../../apps/utils",
              "../../apps/gen_moves",
              "../../apps/game"]}.
