{mode, max}.

{duration, 1}.

{concurrent, 3}.

{driver, tt_message_online}.

{report_interval, 5}.

{operations, [{test, 1}]}.

{code_paths, ["../../apps/load_test",
              "../../apps/controller_app",
              "../../apps/service",
              "../../apps/datatypes",
              "../../apps/utils",
              "../../apps/gen_moves",
              "../../apps/game"]}.

{tt_node, 'backend@127.0.0.1'}.