{mode, max}.

{duration, 5}.

{concurrent, 10}.

{driver, tt_message_offline}.

{report_interval, 5}.

{operations, [{test, 1}]}.

{code_paths, ["../../apps/load_test",
              "../../apps/controller_app",
              "../../apps/service",
              "../../apps/datatypes",
              "../../apps/utils",
              "../../apps/gen_moves",
              "../../apps/game"]}.

{tt_node, 'backend@server4.pcs'}.
