{mode, max}.

{duration, 1}.

{concurrent, 5}.

{driver, user}.

{report_interval, 5}.

{node, 'backend@127.0.0.1'}.

{operations, [{user, 1}]}.

{code_paths, ["../../apps/load_test",
              "../../apps/controller_app",
              "../../apps/service",
              "../../apps/datatypes",
              "../../apps/utils",
              "../../apps/gen_moves",
              "../../apps/game"]}.