%% -*- mode: erlang; -*-
[
 {host, "192.168.0.101", "system_manager",
  [
   {release, web_frontend, web_frontend,
    [
     {web_frontend, [{listen,["192.168.0.101"]}]}
    ]
   }
  ]
 },
 {host, "192.168.0.102", "system_manager",
  [
   {release, backend, backend,
    [{db,[{riak_ip,"192.168.0.103"},
          {riak_database_port,8098},
          {riak_protobuf_port,8087},
          {db_workers,50}]}
    ]
   }
  ]
 },
 {host, "192.168.0.103", "system_manager",
  [
   {release, riak, riak,
    [
     {riak_core,
      [
       {http,[{"192.168.0.103",8098}]}
      ]
     },
     {riak_search,[{enabled,true}]},
     {riak_kv,
      [
       {pb_ip,"192.168.0.103"}
      ]}
    ]
   }
  ]
 },
 {host, "192.168.0.104", "system_manager",
  [
   {release, backend, backend,
    [{db,[{riak_ip,"192.168.0.103"},
          {riak_database_port,8098},
          {riak_protobuf_port,8087},
          {db_workers,50}]}
    ]
   }
  ]
 }
].
