%% -*- mode: erlang -*-
[
 % web_frontend config
 { web_frontend, [
 ]},

{ controller_app, [
                { controller_app_workers, 1},
                { backend_nodes, ['backend@127.0.0.1', 'backend2@127.0.0.1'] }
 ]},

 % yaws configuration
 { yaws, [
          {conf, "./etc/yaws.conf"}
 ]},

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

