%{erl_opts, [debug_info, fail_on_warning]}.

{lib_dirs, ["../../libs", "../../deps", "..", "deps"]}.

{deps_dir, ["deps"]}.

{deps, [
    gen_smtp,
    iconv,
    datatypes,
    command_parser,
    controller_app,
    db,
    {meck, ".*",
       {git, "git://github.com/eproxus/meck.git", {branch, "master"}}}
]}.
