%{erl_opts, [debug_info, fail_on_warning]}.

{lib_dirs, ["../../deps",
            ".."]}.

{deps_dir, ["deps"]}.

{deps, [
    gen_smtp,
    iconv,
    datatypes,
    command_parser,
    game,
    controller_app,
    {meck, ".*",
       {git, "git://github.com/eproxus/meck.git", {branch, "master"}}}
]}.
