[
 { message, [
                { message_workers, 100}
 ]},

 { controller_app, [
                { controller_app_workers, 100},
                { backend_nodes,
                  [
                    'backend@127.0.0.1',
                    'backend2@127.0.0.1',
                    'backend3@127.0.0.1'
                  ]
                }
 ]},

 { game, [
                { game_workers, 100}
 ]},

 { db, [
                { riak_ip, "127.0.0.1"},
                { riak_database_port, 8091},
                { riak_protobuf_port, 8081},
                { db_workers, 100}
 ]},

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

