/* Override some defaults */
html,body {
    background-color: #eee;
}

body {
    padding-top: 40px;
    /* 40px to make the container go all the way to the bottom of the topbar */
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
    /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,.content .span4 {
    min-height: 500px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
    margin-left: 0;
    padding-left: 19px;
    border-left: 1px solid #eee;
}

.topbar .btn {
    border: 0;
}

/*-----------------------*/
.clear {
    clear: both;
}

.hide {
    display: none;
}

#logout {
    line-height: 40px;
}

#header {
    height: 50px;
    padding: 20px 0;
}

#message {
    height: 50px;
}

.chat {
    width: 530px;
    height: 100px;
    border: 3px solid #eee;
}

img.preloader {
    display: block;
    margin: 0 auto;
}

.debug {
    border: 1px solid red;
}