%% -*- erlang -*-
[{host, "127.0.0.1", "system_manager",
  [{release, riak, riak,
    [
     {riak_core, [
                  {http, [{"127.0.0.1", 8091}]}
                 ]},
     {riak_kv, [
                {pb_ip, "127.0.0.1"},
                {pb_port, 8081}
               ]},
     {riak_search, [
                    {enabled, true}
                   ]}
    ]},
   {release, backend, backend,
    [
     {db, [
           {riak_ip, "127.0.0.1"},
           {riak_database_port, 8091},
           {riak_protobuf_port, 8081}
          ]}
    ]},
   {release, smtp_frontend, smtp_frontend_test, []},
   {release, xmpp_frontend, xmpp_frontend_test, []},
   {release, web_frontend, web_frontend_test, []}
  ]}
].
