%% -*- erlang -*-
[{host, "127.0.0.1", "system_manager",
  [{release, riak, riak,
    [
     {riak_core, [
                  {http, [{"127.0.0.1", 8091}]}
                 ]},
     {riak_kv, [
                {pb_ip, "127.0.0.1"},
                {pb_port, 8081}
               ]},
     {riak_search, [
                    {enabled, true}
                   ]}
    ]}
  ]}
].
