[
 {sasl, [
         {sasl_error_logger, false}
 ]},

 {lager, [
          {handlers,
           [
            {lager_console_backend, info},
            {lager_file_backend,
             [
              {"log/xmpp_frontend/info.log", info, 10485760, "$D0", 5}
             ]}
           ]},
          {crash_log, "log/xmpp_frontend/crash.log"},
          {crash_log_msg_size, 10485760} % 10 MB max file size
 ]}
].
