%% -*- mode: erlang -*-
[
 % web_frontend config
 { web_frontend, [
                  {port, 8000},
                  {listen, ["127.0.0.1"]}
 ]},

{ controller_app, [
                { controller_app_workers, 1},
                { backend_nodes, ['backend@127.0.0.1', 'backend2@127.0.0.1'] }
 ]},

 {sasl, [
         {sasl_error_logger, false}
 ]},

 {lager, [
          {handlers,
           [
            {lager_console_backend, info},
            {lager_file_backend,
             [
              {"log/web_frontend/info.log", info, 10485760, "$D0", 5}
             ]}
           ]},
          {crash_log, "log/web_frontend/crash.log"},
          {crash_log_msg_size, 10485760} % 10 MB max file size
 ]}
].

