[
 { message, [
                { message_workers, 100}
 ]},

 { controller_app, [
                { controller_app_workers, 100},
                { backend_nodes,
                  [
                    'backend@127.0.0.1',
                    'backend2@127.0.0.1',
                    'backend3@127.0.0.1'
                  ]
                }
 ]},

 { game, [
                { game_workers, 100}
 ]},

 { db, [
                { riak_ip, "127.0.0.1"},
                { riak_database_port, 8091},
                { riak_protobuf_port, 8081},
                { db_workers, 100}
 ]},

 {sasl, [
         {sasl_error_logger, false}
 ]},

 {lager, [
          {handlers,
           [
            {lager_console_backend, info},
            {lager_file_backend,
             [
              {"log/backend/info.log", info, 10485760, "$D0", 5}
             ]}
           ]},
          {crash_log, "log/backend/crash.log"},
          {crash_log_msg_size, 10485760} % 10 MB max file size
 ]}
].

