{sys, [
    {lib_dirs, ["../../../deps"]},
    {rel, "web_frontend", "1",
        [
            kernel,
            stdlib,
            sasl,
            inets,
            crypto,
            runtime_tools
    ]},
    {rel, "start_clean", "",
        [
            kernel,
            stdlib
    ]},
    {boot_rel, "web_frontend"},
    {profile, embedded},
    {excl_sys_filters, [
        "^bin/.*",
        "^erts.*/bin/(dialyzer|typer)"
    ]},
    {app, sasl, [{incl_cond, include}]},
    {app, eunit, [{incl_cond, include}]}
]}.

{overlay, [
    %% Copy common files...
    {copy,  "./files/*"},
    {copy,  "./erts/*", "{{erts_vsn}}/bin"},
    %% Copy dependencies
    {copy,  "../../../deps/nitrogen_core", "lib/nitrogen_core"},
    {copy,  "../../../deps/simple_bridge", "lib/simple_bridge"},
    {copy,  "../../../deps/nprocreg", "lib/nprocreg"},
    {copy,  "../../../deps/sync", "lib/sync"},
    {copy,  "../../../deps/yaws", "lib/yaws"},
    %% Copy our site (app)
    {copy,  "../../../apps/web_frontend/*", "site"}
]}.
