%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

%% Rebar config for Treacherous Talks app

%% Additional library directories to add to the code path
{lib_dirs, ["../../deps","../../apps"]}.

%% Enable EUnit coverage reporting
{cover_enabled, false}.

%% Where to put any downloaded dependencies
{deps_dir, ["../../deps"]}.

%% Specify dependencies
{deps, [
        utils,
        gen_smtp
       ]}.
