%% -*- mode: erlang; -*-
{sys, [
       {lib_dirs, ["../apps", "../deps", "../ext_test"]},
       {rel, "backend", "1",
        [
         lager,
         os_mon,
         mnesia,
         datatypes,
         service,
         game,
         db,
         user_management,
         message,
         controller_app,
         utils
        ]},
       {rel, "smtp_frontend", "1",
        [
         lager,
         smtp_frontend,
         iconv,
         gen_smtp,
         datatypes,
         utils
        ]},
       {rel, "system_manager", "1",
        [
         lager,
         system_manager
        ]},
       {rel, "fault_tolerance", "1",  %% fault tolerance tests
        [
         eunit,
         fault_tolerance
        ]},
       {rel, "web_frontend", "1",
        [
         lager,
         web_frontend,
         crypto,
         datatypes,
         utils
        ]},
       {rel, "xmpp_frontend", "1",
        [
         lager,
         ejabberd,
         mnesia,
         crypto,
         ssl,
         public_key,
         stringprep,
         datatypes,
         utils,
         xmpp_lib
        ]},
       {rel, "start_clean", "",
        [
        ]},
       {boot_rel, "backend"},
       {profile, embedded},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},

       %% Including HiPE can cause issues generating your first upgrade.
       %% If you plan to distribute HiPE in your release remove the
       %% following line.
       {app, hipe, [{incl_cond, exclude}]},

       {app, eunit, [{incl_cond, include}]},
       % Include yaws, it is started by web_frontend
       {app, yaws, [{incl_cond, include}]},
       % Exclude exmpp since reltool will give a warning about ejabberd_socket
       % being included by two different applications
       {app, exmpp, [{incl_cond, exclude}]}
      ]}.

{target_dir, "../system-release/tt"}.

{overlay, [
           {mkdir, "var"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/bin/*", "bin"},
           {copy, "files/etc", "etc"},
           %% Copy Riak search schemas
           {copy, "files/riak", "riak"},
           %% Copy our web site (static content)
           {copy,  "../apps/web_frontend/www", "www"},
           %% Copy default fault tolerance cluster config
           {copy,  "../ext_test/fault_tolerance/etc/tt.config", "etc"},
           %% Copy escripts
           {copy, "../apps/cluster_manager/cluster_manager", "lib"},
           {copy, "../ext_test/fault_tolerance/fault_tolerance", "lib"}
          ]}.
