{sys, [
    {lib_dirs, ["../../deps", "../../apps"]},
    {rel, "web_frontend", "1",
        [
        web_frontend,
            kernel,
            stdlib,
            sasl,
            inets,
            crypto,
            runtime_tools,
            datatypes,
            utils
    ]},
    {rel, "start_clean", "",
        [
            kernel,
            stdlib
    ]},
    {boot_rel, "web_frontend"},
    {profile, embedded},
    {excl_sys_filters, [
        "^bin/.*",
        "^erts.*/bin/(dialyzer|typer)"
    ]},
    {app, sasl, [{incl_cond, include}]},
    {app, controller_app, [{incl_cond, include}]},
    {app, eunit, [{incl_cond, include}]},
    % Exclude exmpp since reltool will give a warning about ejabberd_socket
    % being included by two different applications
    {app, exmpp, [{incl_cond, exclude}]}
]}.

{overlay, [
    %% Copy common files...
    {copy,  "./files/*"},
    {copy,  "./erts/*", "{{erts_vsn}}/bin"},
    %% Copy dependencies
    {copy,  "../../deps/yaws", "lib/yaws"},
    %% Copy our site (app)
    {copy,  "../../apps/web_frontend/*"}
]}.
