.container-fluid>.content {
    float: left;
    margin-left: 0;
    min-height: 600px;
    width: 100%;
}

.clear {
    clear: both;
}

.graph {
    margin: 10px 0 50px 0;
    width: 100%;
}

.graph_info {
    border: 1px solid #4572a7;
    border-radius: 5px;
    float: left;
    margin: 10px 0 10px 50px;
    padding: 5px;
}